html, body
{
    background-color: #f1e0c5;
    font-family: Consolas, monospace;
    color: #1c1c1c;
}

h2::first-letter
{
    font-size: 60px;
}

header
{
    font-weight: bolder;
    font-style: italic;
    font-size: x-large;
    text-align: center;
    padding: 20px;
    background-color: #342a21;
    color: #c9b79c;
}

section
{
    padding: 20px;
    margin: 10px;
    display: flex;
    background-color: #71816d;
    font-size: larger;
}

nav
{
    margin: 10px;
    background-color: #c9b79c;
    float: right;
    width: 20%;
}

a
{
    color: #1c1c1c;
    text-decoration: none;
}

.imgBox
{
    text-align: center;
}

img
{
    width: 600px;
}

.menuItem
{
    padding: 10px;
    text-decoration: none;
    font-size: x-large;
    text-align: center;
    width: auto;
}

.menuItem:hover
{
    color: #c9b79c;
    background-color: #342a21;
    font-weight: bold;
}

#selectedMenuItem
{
    color: #c9b79c;
    background-color: #342a21;
}

.subMenu
{
    text-align: center;
    font-weight: lighter;
    font-size: medium;
}

.subMenu
{
    width: 100%;
}

.subMenuItem:hover
{
    color: #c9b79c;
    background-color: #342a21;
    font-weight: bold;
}

#rec_table
{
    text-align: center;
}

#rec_table td, th
{
    width: 200px;
    border: 2px solid #1c1c1c;
    margin: 0;
}

.source
{
    text-align: right;
    font-size: large;
}

footer
{
    clear:both;
    color: #c9b79c;
    background-color: #282627;
}

input, select
{
    float: right;
    width: 250px;
}

/*RWD - responsive web design*/
@media only screen and (max-width: 900px) {
    header { margin-bottom: 10px; }
    nav {width:100%; height: auto; margin: 0;}
    nav a {display: inline-block; padding: 0;}
    main {margin: 0; top: 10px; white-space: pre-line; position: relative}
    #content {width: 98%;position:relative; top: 30px;margin-top:5%;}
    .subMenu {display: none;}
    .imgBox {display: none;}
    .menuItem {padding: 5px;}
}